<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body id="clrblk">
    <div class="container">
      <header></header>
      <main>
        <h1>THIS IS THE PROFILE PAGE</h1>
        <div class="card  mb-3">
          <div class="card-header">
            <h2><%= data[0].first_name %> <%= data[0].last_name %></h2>
            <div style="float:right; position:relative; top:-20px;">
              <a href="/logout">Logout</a>
            </div>
          </div>
          <div class="card-body">
            <p>
                    <%= data[0].first_name %>
                    <hr>
                    <%= data[0].last_name %>
                <hr> 
              <%= data[0].email %>
              <hr>
              
            </p>
          </div>
        </div>
      </main>
      <footer>
        <% include footer %>
      </footer>
    </div>
  </body>
</html>
